h1 {
  margin: 0;
  position: relative;
  overflow: hidden;
  height: 2rem;
  font-size: 1.5rem;
  color: #3d3d3d;
  padding: 0.5rem 2rem 0.5rem 3rem;
  background-color: rgba(250, 250, 250, 0.9);
  border-radius: 0 0 0 0;
  border-bottom: 0.1rem solid #00cc88;
  border-top: 0.1rem solid #00cc88;
}

h1:before {
  position: absolute;
  top: 0rem;
  left: -3rem;
  width: 5rem;
  height: 3rem;
  content: '';
  background-color: #00cc88;
  border-radius: 1.5rem;
}

h1:after {
  position: absolute;
  top: 0rem;
  right: -3rem;
  width: 5rem;
  height: 3rem;
  content: '';
  background-color: #00cc88;
  border-radius: 1.5rem;
}

#login-page {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 62, 44, 0.4) 65%, rgba(144, 195, 179, 0.4)), url("./image/bg_image.jpg");
  background-size: cover;
}

.indicator-parent {
  position: relative;
  .indicator {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#fafafa, 0.7);
    img {
      animation: rotate-anime 1s linear infinite;
      height: 3rem;
      width: 3rem;
    }
    @keyframes rotate-anime {
      0%  {transform: rotate(0);}
      100%  {transform: rotate(360deg);}
    }
  }
}

#login-form {
  margin: calc((100vh - 46rem)/2) auto;
  width: 14rem;
  height: 40rem;
  padding: 3rem;
  background-color: rgba(238, 255, 250, 0.6);
  text-align: center;

  .label {
    display: block;
    height: 0;
    width: 2rem;
    color: #fafafa;
    padding: 0 0.5rem;
    font-weight: bold;
    border-bottom: 1.2rem solid #38be94;
    border-right: 2rem solid transparent;
    border-radius: 0.5rem 0 0 0;
  }

  .form-style{
    width: 12rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .form-style:focus-within .label{
    border-bottom: 1.2rem solid #24e6a9;
  }

  .input-form {
    width: 12rem;
    height: 1.5rem;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    border: solid 0.3rem #38be94;
  }

  .input-form:focus {
    border: solid 0.3rem #24e6a9;
  }

  .input-form:focus {
    outline: none;
  }

  .login-button {
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3.6rem;
    width: 8rem;
    color: #fafafa;
    font-weight: bold;
    background-color: #38be94;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
  }

  .login-button:hover {
    background-color: #24e6a9;
  }

  .login-button:focus {
    outline: none;
    background-color: #24e6a9;
  }

  .register-button {
    margin: 0 auto;
    margin-top: 5rem;
    font-size: 1rem;
    font-weight: bold;
    height: 1.8rem;
    width: 8rem;
    color: #fafafa;
    font-weight: bold;
    background-color: #00a8c6;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
  }

  .register-button:hover {
    background-color: #42cee7;
  }

  .register-button:focus {
    outline: none;
    background-color: #42cee7;
  }
}

#register-page {
  overflow: hidden;
  height: calc(100vh - 6rem);
  width: 100vw;
  padding-bottom: 6rem;
  background-image: linear-gradient(rgba(108, 145, 135, 0.8) 65%, rgba(187, 200, 196, 0.8)), url("./image/bg_image.jpg");
  background-size: cover;

  .main {
    margin: 0.5rem;
    padding: 2rem;
    padding-top: 0.5rem;
    text-align: left;
    .to-login-button {
      margin: 0 auto;
      margin-bottom: 1rem;
      padding: 0.3rem 0.5rem;
      font-size: 1rem;
      font-weight: bold;
      height: 2rem;
      color: #fafafa;
      font-weight: bold;
      background-color: #00a8c6;
      border-radius: 0.5rem;
      border: none;
      cursor: pointer;
    }

    .to-login-button:hover {
      background-color: #42cee7;
    }

    .to-login-button:focus {
      outline: none;
      background-color: #42cee7;
    }
  }
}

#account-form {
  background-color: rgba(238, 255, 250, 0.8);
  padding: 1rem;
  text-align: center;
  .main {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    .form-style {
      width: 50%;
      min-width: 15rem;
    }
    .label {
      margin-top: 0.5rem;
      display: inline-block;
      height: 0;
      color: #3d3d3d;
      padding: 0 0.5rem;
      font-weight: bold;
    }
    .label-error {
      color: #94003a;
    };

    .tag-required {
      margin-bottom: 0.2rem;
      padding: 0 0.4rem;
      display: inline-block;
      background-color: #c21750;
      font-size: 0.8rem;
      border-radius: 0.5rem;
      color: #fafafa;
      font-weight: bold;
      vertical-align: middle;
    }

    .error-icon {
      height: 1rem;
      margin-bottom: 0.2rem;
      padding: 0 0.4rem;
    }

    .input-form {
      margin-left: 1rem;
      height:1.5rem;
      width: calc(100% - 5rem);
      display: block;
      border-radius: 0.5rem;
      border: solid 0.2rem #6b6b6b;
    }
    .input-form:focus {
      border: solid 0.2rem #909090;
      outline: none;
    }
    .input-form-error {
      background-color: #ffdede;
      border-color: #be4242;
    }

    .err-msg {
      vertical-align: text-top;
      margin-left: 1.5rem;
      font-size: 0.6rem;
      color: #94003a;
    }

    .btn-space {
      margin-top: 1rem;
      margin-left: 1rem;
    }

    .img-select {
      span {
        margin-left: 1rem;
        display: inline-block;
        padding: 0.3rem 0.5rem;
        font-size: 0.8rem;
        color: #fafafa;
        background-color: #27c0e2;
        border-radius: 0.3rem;
        height: 1rem;
        cursor: pointer;
      }
      span:hover {
        background-color: #48d5e9;
      }
    }
    .img-input {
      display: none;
    }
    .img-input:focus {
      outline: none;
    }
    .clear-btn {
      margin-left: 1rem;
      display: inline-block;
      padding: 0.3rem 0.5rem;
      font-size: 0.8rem;
      background-color: #f2286b;
      color: #fafafa;
      border: none;
      border-radius: 0.3rem;
      height: 1rem;
      cursor: pointer;
    }
    .clear-btn:hover {
      background-color: #fc538b;
    }

    .icon-prev {
      display: block;
      margin-top: 0.5rem;
      margin-left: 1rem;
      width: 8rem;
      height: 8rem;
      border-radius: 4rem;
    }
  }
  .submit-btn {
    background-color: #38be94;
    color: #fafafa;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
  }
  .submit-btn:hover {
    background-color: #24e6a9;
  }
  .submit-btn:focus {
    background-color: #24e6a9;
    outline: none;
  }
  .submit-btn:disabled {
    background-color: rgba(56, 190, 148, 0.6);
    color: rgba(250, 250, 250, 0.6);
    cursor: not-allowed;
  }
}

.profile {
  display: inline-block;
  text-align: center;
  .icon {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
  }
  .id {
    font-style: italic;
    font-size: 0.8rem;
  }
  .name {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.gloval-nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  top: 0;
  height: 2rem;
  width: 100vw;
  .to-home {
    margin: 0 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #00cc88;
    cursor: pointer;
  }
  .to-home:hover {
    color: #7efed3;
  }
  .link-list {
    width: calc(100% - 12rem);
    display: flex;
    justify-content: space-around;
    .link-val {
      width: 6rem;
      padding: 0 0.5rem;
      text-align: center;
      border-left: solid #adadad 0.2rem;
      border-right: solid #adadad 0.2rem;
      color: #585858;
      font-size: 1.2rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }
    .link-val:hover {
      background-color: #eaeaea;
    }
  }
  .profile-icon {
    margin: 0 0.5rem;
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    cursor: pointer;
  }
}

.global-nav-page {
  margin-top: 2.5rem;
}

.dialog {
  text-align: center;
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 9999;
  background-color: rgba(250, 250, 250, 0.6);
  padding: 2rem;
}

.message-space {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(250, 250, 250, 0.8);
  margin: 0.5rem 0;
  padding: 0.1rem 0.3rem;
  min-height: 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border-width: 0.2rem;
  border-style: solid;;
  img {
    margin-right: 1rem;
    height: 1.5rem;
    width: 1.5rem;
  }
}
.message-space-error {
  border-color: #b85450;
}
.message-space-warn {
  border-color: #d79b00;
}
.message-space-info {
  border-color: #82b366;
}

#register-done-page {
  overflow: hidden;
  height: calc(100vh - 6rem);
  width: 100vw;
  padding-bottom: 6rem;
  background-image: linear-gradient(rgba(108, 145, 135, 0.8) 65%, rgba(187, 200, 196, 0.8)), url("./image/bg_image.jpg");
  background-size: cover;

  .main-space {
    background-color: rgba(238, 255, 250, 0.8);
    margin: 0.5rem;
    padding: 2rem;
    text-align: left;

    .to-login-button {
      margin: 0 auto;
      margin-top: 1rem;
      padding: 0.3rem 0.5rem;
      font-size: 1rem;
      font-weight: bold;
      height: 2rem;
      color: #fafafa;
      font-weight: bold;
      background-color: #00a8c6;
      border-radius: 0.5rem;
      border: none;
      cursor: pointer;
    }
    .to-login-button:hover {
      background-color: #42cee7;
    }

    .to-login-button:focus {
      outline: none;
      background-color: #42cee7;
    }

    .text-line {
      display: block;
    }
    .bold {
      font-weight: bold;
    }
    .id-space {
      margin-top: 0.5rem;
    }
  }
}
