.pnet-main {
  padding: 0.5rem 1rem;
}

.pnet-profile-card-mini {
  background-color: #fff;
  border-left: solid 0.1rem #cc0000;
  border-right: solid 0.1rem #cc0000;
  .info {
    display: flex;
    height: 5rem;
    border-top: solid 0.2rem #cc0000;
    border-bottom: solid 0.15rem rgba(#cc0000, 0.5);
    // border-radius: 1rem;
    // box-shadow: 0.1rem 0.1rem 0.1rem rgba(99, 0, 0, 0.5);
    .profile-image {
      height: 5rem;
      width: 5rem;
      img {
        // border-radius: 1rem 0 0 1rem;
        height: 5rem;
        width: 5rem;
      }
    }
    .profile-info {
      width: calc(100% - 5rem);
      .rows {
        padding-left: 1rem;
      }
      .belong {
        height: 1rem;
        line-height: 1rem;
        font-size: 0.8rem;
      }
      .name {
        display: flex;
        justify-content: space-between;
        height: 3rem;
        line-height: 3rem;
        font-size: 1.6rem;
        font-weight: bold;
        border-top: solid 0.1rem #ac0020;
        border-bottom: solid 0.1rem #ac0020;
        box-sizing: border-box;
        .edit {
          margin: 0.5rem;
          width: 1.8rem;
          border: none;
          background-color: inherit;
          background-image: url("../image/icooon/edit.svg");
          background-size: cover;
          background-repeat: no-repeat;
          cursor: pointer;
        }
        .edit:hover {
          background-image: url("../image/icooon/edit_active.svg");
        }
        .edit:focus {
          background-image: url("../image/icooon/edit_active.svg");
          outline: none;
        }
      }
      .sub {
        display: flex;
        justify-content: space-between;
        padding-right: 2rem;
        height: 1rem;
        line-height: 1rem;
        font-size: 0.8rem;
        border-bottom: none;
      }
    }
  }
  .intro {
    padding: 0.5rem 2.5rem;
    border-bottom: solid 0.2rem #cc0000;
    font-size: 0.9rem;
  }
}

.pnet-self-intro {
  margin-top: 1.5rem;
  border: solid 0.2rem #ff4265;
  padding: 1rem 2rem;
  padding-top: 0;
  background-color: #ffeeee;
  border-radius: 0.5rem;
  .title {
    position: relative;
    padding: 0.2rem 0.5rem;
    top: -0.8rem;
    left: -1rem;
    background-color: #ff4265;
    color: #fafafa;
    font-weight: bold;
    border-radius: 0.3rem;
  }
  .main {
    padding: 0 0.5rem;
  }
}


.pnet-tag-list {
  // width: 15%;
  margin-top: 1.5rem;
  border: solid 0.2rem #ff4285;
  padding: 1rem 2rem;
  padding-top: 0;
  background-color: #ffeeee;
  border-radius: 0.5rem;
  flex-wrap: wrap;
  .title {
    position: relative;
    padding: 0.2rem 0.5rem;
    top: -0.8rem;
    left: -1rem;
    background-color: #ff4285;
    color: #fafafa;
    font-weight: bold;
    border-radius: 0.3rem;
  }
  .main {
    display: flex;
    flex-wrap: wrap;
  }
  .tag-add {
    border-radius: 0.3rem;
    margin: 0.5rem 0.5rem 0 0.5rem;
    height: 1.4rem;
    width: 7rem;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(99, 0, 0, 0.5);
    background-color: #ffa8a8;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  .tag-add:hover {
    background-color: #f7c0c0;
  }
  .tag-add:focus {
    background-color: #f7c0c0;
    outline: none;
  }
}

.pnet-tag {
  border-radius: 0.3rem;
  margin: 0.5rem 0.5rem 0 0.5rem;
  height: 1.4rem;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(99, 0, 0, 0.5);
  .tag-title {
    display: inline-block;
    height: 100%;
    padding: 0 0.3rem;
    border-radius: 0.3rem 0 0 0.3rem;
    // background-color: #ffa8a8;
    background-color: #acc9ff;
    // background-color: #a6ffcf;
    // background-color: #f4ff95;
    color: #333333;
    // color: #fafafa;
  }
  .reaction {
    display: inline-block;
    background-color: #181509;
    height: 100%;
    cursor: pointer;
    span {
      font-size: 0.5rem;
    }
    img {
      height: 1rem;
    }
  }
  .reaction:hover {
    background-color: #393939;
  }
  .good {
    padding: 0 0.3rem;
    color: #fafafa;
    border-right: dotted #fafafa 0.1rem;
  }
  .bad {
    padding: 0 0.3rem;
    color: #fafafa;
    border-radius: 0 0.3rem 0.3rem 0;
  }
}

.pnet-career-list {
  margin-top: 1.5rem;
  border: solid 0.2rem #ff5342;
  padding: 1rem 2rem;
  padding-top: 0;
  background-color: #ffeeee;
  border-radius: 0.5rem;
  .title {
    position: relative;
    padding: 0.2rem 0.5rem;
    top: -0.8rem;
    left: -1rem;
    background-color: #ff5342;
    color: #fafafa;
    font-weight: bold;
    border-radius: 0.3rem;
  }
  .main {
    margin: 0 1.5rem;
    padding: 0 0.5rem;
    .add-btn {
      width: 100%;
      height: 1.4rem;
      font-size: 1.2rem;
      border: none;
      background-color: #ffa8a8;
      box-shadow: 0.1rem 0.1rem 0.1rem rgba(99, 0, 0, 0.5);
      border-radius: 0.3rem;
      font-weight: bold;
      cursor: pointer;
    }
    .add-btn:hover {
      background-color: #f7c0c0;
    }
    .add-btn:focus {
      background-color: #f7c0c0;
      outline: none;
    }
  }
}

.pnet-career {
  border-bottom: solid rgba(0, 0, 0, 0) 0.15rem;
  cursor: pointer;
  .year {
    display: inline-block;
    width: 6rem;
    font-weight: bold;
    color: #440000;
  }
  .year::after {
    content: ":";
  }
  .career-title {
    display: inline-block;
    font-weight: bold;
    margin-left: 0.5rem;
    width: calc(40% - 0.5rem);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: text-top;
  }
  .detail {
    display: inline-block;
    margin-left: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    width: calc(60% - 0.5rem - 6rem);
    text-overflow: ellipsis;
    vertical-align: text-top;
  }
  .detail::before {
    content: "[ ";
  }
  .detail::after {
    content: " ]";
  }
}

.pnet-career:hover {
  background-color: rgba(251, 201, 201, 0.5);
  border-bottom: solid #ed8c8c 0.15rem;
  box-sizing: border-box;
}

.pnet-hobby-list {
  margin-top: 1.5rem;
  border: solid 0.2rem #fb3061;
  padding: 1rem 2rem;
  padding-top: 0;
  background-color: #ffeeee;
  border-radius: 0.5rem;
  width: calc(100% - 4rem - 0.4rem);
  .title {
    position: relative;
    padding: 0.2rem 0.5rem;
    top: -0.8rem;
    left: -1rem;
    background-color: #fb3061;
    color: #fafafa;
    font-weight: bold;
    border-radius: 0.3rem;
  }
  .main {
    margin: 0 1.5rem;
    padding: 0 0.5rem;
    .add-btn {
      width: 100%;
      height: 1.4rem;
      font-size: 1.2rem;
      border: none;
      background-color: #ffa8a8;
      box-shadow: 0.1rem 0.1rem 0.1rem rgba(99, 0, 0, 0.5);
      border-radius: 0.3rem;
      font-weight: bold;
      cursor: pointer;
    }
    .add-btn:hover {
      background-color: #f7c0c0;
    }
    .add-btn:focus {
      background-color: #f7c0c0;
      outline: none;
    }
  }
}

.pnet-hobby {
  border-bottom: solid rgba(0, 0, 0, 0) 0.15rem;
  width: 100%;
  cursor: pointer;
  margin-bottom: 0.2rem;
  vertical-align: bottom;
  .hobby-title {
    display: inline-block;
    font-weight: bold;
    margin-left: 0.5rem;
    width: calc(40% - 0.5rem);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: text-top;
  }
  .detail {
    display: inline-block;
    margin-left: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    width: calc(60% - 0.5rem);
    text-overflow: ellipsis;
    vertical-align: text-top;
  }
  .detail::before {
    content: "[ ";
  }
  .detail::after {
    content: " ]";
  }
}

.pnet-hobby:hover {
  background-color: rgba(251, 201, 201, 0.5);
  border-bottom: solid #ed8c8c 0.15rem;
  box-sizing: border-box;
}

.pnet-dialog {
  margin: 0 auto;
  margin-top: 3rem;
  max-width: 40rem;
  border: 0.2rem solid #cc0000;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
}

.pnet-form {
  h1 {
    border-bottom: 0.1rem solid #cc0062;
    border-top: 0.1rem solid #cc0062;
  }

  h1:before {
    background-color: #cc0062;
  }

  h1:after {
    background-color: #cc0062;
  }
  .label {
    margin-top: 0.5rem;
    display: inline-block;
    height: 0;
    color: #3d3d3d;
    padding: 0 0.5rem;
    font-weight: bold;
  }
  .label-error {
    color: #94003a;
  };

  .err-msg {
    vertical-align: text-top;
    margin-left: 1.5rem;
    font-size: 0.6rem;
    color: #94003a;
  }

  .error-icon {
    height: 1rem;
    margin-bottom: 0.2rem;
    padding: 0 0.4rem;
  }

  .textarea-form {
    margin-left: 1rem;
    width: calc(100% - 5rem);
    display: block;
    border-radius: 0.5rem;
    border: solid 0.2rem #6b6b6b;
  }
  .textarea-form:focus {
    border: solid 0.2rem #909090;
    outline: none;
  }
  .textarea-form::-webkit-scrollbar{
    width: 0.6rem;
  }

  .textarea-form::-webkit-scrollbar-track{
    background: #c8c8c8;
    border: none;
    border-radius: 2rem;
  }

  .textarea-form::-webkit-scrollbar-thumb{
    background: rgba(255, 61, 137, 0.5);
    border-radius: 2rem;
    box-shadow: none;
  }

  .input-form {
    margin-left: 1rem;
    height:1.5rem;
    width: calc(100% - 5rem);
    display: block;
    border-radius: 0.5rem;
    border: solid 0.2rem #6b6b6b;
  }
  .input-form:focus {
    border: solid 0.2rem #909090;
    outline: none;
  }
  .input-form-error {
    background-color: #ffdede;
    border-color: #be4242;
  }
  .btn-space {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    align-items: flex-end;
    button {
      height: 2.5rem;
      min-width: 5rem;
      font-size: 1.3rem;
      cursor: pointer;
    }
    button:focus {
      outline: none;
    }
    .close {
      border: none;
      background-color: inherit;
      border-bottom: #cc0062 solid 0.1rem;
    }
    .close:hover {
      background-color: rgba(251, 176, 212, 0.1);
    }
    .save {
      background-color: #ff8fc5;
      border: #fafafa solid 0.1rem;
      border-radius: 0.5rem;
    }
    .save:hover {
      background-color: #fbb0d4;
    }
    .save:disabled {
      background-color: rgba(251, 176, 212, 0.6);
      color: rgba(250, 250, 250, 0.6);
      cursor: not-allowed;
    }
    .delete {
      height: 2rem;
      width: 3rem;
      font-size: 0.8rem;
      background-color: #fafafa;
      border: #ff3636 solid 0.3rem;
    }
    .delete:hover {
      background-color: #fbdcdc;
    }
  }
}
